html{
  background-color:black;
  color:white;
}

a{
  color:cyan;
  text-decoration: none;
}

code{
  color:black;
  background-color:darkgrey;
  font-size: 12px;
}

.settings{
  margin-left:20px;
  text-align:left;
  position:flex;
  display:flex;
  flex-direction: flex-start;
}

.topmenu{
  text-align:center;
  padding: 1rem;
  margin-left: 2rem;
}

.container{
  text-align:center;
  position:flex;
  display:flex;
  flex-direction: flex-start;
  align-items: stretch;
  justify-content:space-between;
  flex-direction:column; 
  margin-top:-2rem;
}

.settings:hover {
  background-color:black;
  color:orange;
  font-size:16px;
}


